.notes-pratiques-outils-loop-section {
    padding-bottom: $bbc-m + 96px;
    // padding-top: 80px;
    padding-top: 0px;
    @include tablet {
        padding-bottom: $bbc-t + 112px;
    }
    @include laptopS {
        padding-top: 80px;
        padding-bottom: $bbc-l + 88px;
    }
    @include laptopL {
        padding-bottom: $bbc-d + 160px;
    }
    .notes-pratiques-outils-loop-wrapper {
        min-height: 500px;
        @include tablet {
            min-height: 500px;
        }
        @include laptopS {
            display: flex;
            justify-content: center;
        }
        .filters-npo-questions-wrapper {
            @include laptopS{
                width: 7 * $lCol;
                margin-right: 3 * $lCol;
                position: sticky;
                top: 24px;
                height: fit-content;
                margin-bottom: 40px;
            }
            @include laptopL {
                width: 5 * $dCol;
                margin-right: 3 * $dCol;
            }
            .filter-npoq-header {
                @include hando-b;
                color: $blue-1;;
                font-size: 13px;
                line-height: 24px;
                @include tracking(100);
                text-transform: uppercase;
            }
            .filter-npoq-container {

                margin-bottom: 40px;
                a {
                    position: relative;
                    @include hando-b;
                    color: $orange-1;
                    font-size: 12px;
                    line-height: 24px;
                    @include tracking(100);
                    text-transform: uppercase;
                    display: block;
                    width: 100%;
                    padding: 16px 0px;
                    margin: 0;
                    @include trans-a;
                    &:not(:last-child){
                    &:after {
                        @include bottom-divider-pseudo-el;
                    }
                }
                }
                a.active {
                    color: $blue-1;
                    @include trans-a;

                    &:before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        background: url("../ASSETS/IMAGES/common/VECTOR/ic-close.svg") center no-repeat;
                        background-size: contain;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        &:before {
                            background: url("../ASSETS/IMAGES/common/VECTOR/ic-close-orange-2.svg") center no-repeat;
                            background-size: contain;
                        }
                    }
                }
                &:hover {
                    color: $orange-1;
                    @include trans-a;
                }
            }
        }
        .filters-npo-questions-wrapper-mobile {
            display: block;
            margin-top: 0;
            // top: -110px;
            position: relative;
            top: -40px;
            @include tablet {
                right: unset;
                left: 0;
            }
            @include laptopS {
                display: none;
            }
        }
        .reset-filter-npo-mobile {
            transform: translateY(-22px);
            @include tablet {
                position: absolute;
                top: -18px;
                right: 0;
                max-width: 300px;
            }
            @include laptopS {
                display: none !important;
            }
        }
        .filters-npo-questions-wrapper-laptop {
            display: none;
            @include laptopS {
                display: block;
            }
        }
        .npo-items-wrapper {
            .npo-items-container{
            position: relative;
            margin-bottom: 32px;
            // &:after {
            //     @include bottom-divider-pseudo-el;
            // }
            @include laptopS {
                width: 14 * $lCol;
                // min-height: 334px;
            }

            @include laptopL {
                width: 15 * $dCol;
            }

            .npo-item {
                position: relative;
                display: block;
                background-color: $orange-light;
                padding: 24px 3 * $mCol 24px $mCol;
                border-radius: 8px;
                margin-bottom: 16px;
                @include trans-a(0.3s);
                &:first-child{
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 32px;
                }

                @include tablet {
                    padding: 24px 3 * $tCol 24px $tCol;
                }

                @include laptopS {
                    padding: 32px 3 * $lCol 32px $lCol;
                    margin-bottom: 24px;

                    &:hover {
                        background-color: $orange-3;
                        transition: none !important;
                        // @include trans-a;
                    }
                }

                @include laptopL {
                    padding: 32px 3 * $dCol 32px $dCol;
                }

                p {
                    @include hando-b;
                    color: $blue-1;
                    font-size: 15px;
                    @include tracking(25);
                    width: 8 * $mCol;
                    display: contents;
                    

                    @include tablet {
                        font-size: 17px;
                        line-height: 26px;
                    }
                }
                .button-arrow {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);

                }
            }
        }
        a {
            margin-top: 32px;
        }
        }   
        > .cta-a {
            position: absolute;
            bottom: calc(-53px - 40px);
            left: 50%;
            transform: translateX(-50%);
            @include laptopS {
                transform: translateX(0);
                left: 9 * $lCol;
            }
            @include laptopL {
                left: 8 * $dCol;
            }
        }
    }

}