$aqp-m:0;
$aqp-t: 0;
$aqp-l: 0px;
$aqp-d: 0px;

.entreprenarit-coop-content{
    padding-top: 48px;
    padding-bottom: $bbc-m;

    @include tablet {
        padding-top: 96px;
        padding-bottom: $bbc-t;
    }

    @include laptopS {
        padding-top: 106px;
        padding-bottom: $bbc-l;
        display: flex;
        justify-content: space-between;
    }

    @include laptopL {
        padding-top: 106px;
        padding-bottom: $bbc-d;
        padding-left: $dCol;
        padding-right: $dCol;
    }

    .section-entreprenarit-coop-content {
        @include laptopS {
            width: 14 * $lCol;
        }

        @include laptopL {
            width: 12 * $dCol;
        }
    }

    .entreprenarit-coop-aside {
        padding: $padding-aside-bloc-m;
        background: $orange-light;
        border-radius: 8px;
        margin-top: 40px;

        @include tablet {
            padding: $padding-aside-bloc-t;
            margin-top: 80px;
        }

        @include laptopS {
            margin-top: 0;
            width: 7 * $lCol;
            padding: $padding-aside-bloc-l;
            height: fit-content;
            position: sticky;
            top: 24px;
            margin-bottom: 190px;
        }

        @include laptopL {
            padding: $padding-aside-bloc-d;
            width: 7 * $dCol;
        }

        .ec-title {
            @include hando-b;
            font-size: 13px;
            line-height: 24px;
            color: $blue-1;
            @include tracking(100);
            text-transform: uppercase;
            padding: 0px 0 16px 0;

            @include tablet {
                padding: 0px 0 24px 0;
            }

            @include laptopS {
                padding: 0px 0 16px 0;
            }

            @include laptopL {
                padding: 0px 0 16px 0;
            }
        }

        .ec-wrapper {
            li {
                position: relative;
                padding: 16px $aqp-m;

                @include tablet {
                    padding: 16px $aqp-t;
                }
    
                @include laptopS {
                    padding: 16px $aqp-l;
                }
    
                @include laptopL {
                    padding: 16px $aqp-d;
                }

                &:not(:last-child) {
                    &:after {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        background: $white;
                    }
                }
            }
        }

    }
}

#principes-content {
    .section-entreprenarit-coop-content {
       .flex-titre-icone-wrapper {
           &:first-child {
               margin-top: 0px;
           }
       } 
    }
}

#success-stories-ec{
    padding-bottom: $bbc-m + 40px;
    @include tablet {
        padding-bottom: $bbc-t + 40px;
    }
    @include laptopS {
        padding-bottom: $bbc-l + 180px;
    }
    @include laptopL {
        padding-bottom: $bbc-d + 190px;
    }
}