.agenda-formations-section {

    padding-bottom: calc(56px);
    @include tablet {
        padding-bottom: 72px;
    }
    @include laptopS {
        padding-bottom: calc(80px + 24px);
    }

    .agenda-formations-wrapper {
        margin: auto;
        @include laptopS {
            width: 19 * $lCol;
        }
        @include laptopL {
            width: 15 * $dCol;
        }
        .agenda-formations-header {
            .agenda-formation-titre {
                @include hando-sb;
                color: $blue-1;
                font-size: 22px;
                margin-bottom: 48px;
                @include tablet {
                    font-size: 24px;
                    line-height: 37px;
                    margin-bottom: 72px;
                }
                @include laptopS {
                    font-size: 28px;
                    line-height: 40px;
                    margin-bottom: 64px;
                }
                @include laptopL{
                    font-size: 30px;
                    line-height: 42px;
                    margin-bottom: 64px;
                }
            }
        }
        .agenda-formation-empty-texte {
            @include hando-b;
            color: $blue-1;
            font-size: 15px;
            @include tracking(25);
            width: 100%;
            display: inherit;
            margin: auto;
            text-align: center;

            a {
                @include flex-link;
            }
        }
    }
}