.evenement-formation-single-section{
    margin-top: -64px;
    padding-bottom: $bbc-m ;

    @include tablet {
        margin-top: -120px;
        padding-bottom: $bbc-t;
    }
    @include laptopS {
        margin-top: -136px;
        padding-bottom: $bbc-l ;
    }
    @include laptopL {
        padding-bottom: $bbc-d ;
    }
.evenement-formation-single-wrapper  {
    margin-top: 128px;
    margin-bottom: 80px;
    @include tablet {
        margin-top: 0;
    }
    .evenement-formation-single-content  {
        overflow-x: unset !important;
        @include laptopS {
        display: flex;
        justify-content: space-between;
        }
        .evenement-formation-single-content-flex {
            @include laptopS {
                width: 14 * $lCol;
            }
            @include laptopL {
                width: 12 * $dCol;
            }
        }

    }
    .evenement-formation-single-content-details {
        padding: 48px $mCol 48px $mCol;
        background: $orange-light;
        border-radius: 8px;
        margin-top: 40px;

        @include tablet {
            padding: 48px 2 * $tCol 48px 2 * $tCol;
            margin-top: 80px;
        }

        @include laptopS {
            margin-top: 0;
            width: 7 * $lCol;
            padding: 40px 24px 40px 24px;
            height: fit-content;
            position: sticky;
            top: 24px;
            margin-bottom: 190px;
            // margin-left: $lCol;
        }

        @include laptopL {
            padding: 40px $dCol 40px $dCol;
            width: 7 * $dCol;
            // margin-left: 4 * $dCol;
        }

        .efscd-titre {
            @include hando-b;
            color: $blue-1;
            font-size: 13px;
            line-height: 24px;
            @include tracking(100);
            text-transform: uppercase;
            margin: 0px;
        }
        .efscd-liste-details {
            margin: 20px 0px;

            .efscd-liste-detail-item {
                position: relative;
                display: flex;
                align-items: center;
                padding: 16px 0px;
                &:not(:last-child) {
                    &:before {
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 100%;
                    content: "";
                    background: $white;
                    bottom: 0;
                    }
                }
                .efscd-liste-detail-item-icone {
                    display: block;
                    min-width: 24px;
                    min-height: 24px;
                }
                .efscd-date-ic{
                    background: url("../ASSETS/IMAGES/FORMATIONRENCONTRES/VECTOR/ic-ev-calendar.svg") center no-repeat;
                    background-size: contain;
                }
                .efscd-date-details-ic {
                    background: url("../ASSETS/IMAGES/FORMATIONRENCONTRES/VECTOR/ic-ev-info.svg") center no-repeat;
                    background-size: contain;
                }
                .efscd-place-ic {
                    background: url("../ASSETS/IMAGES/FORMATIONRENCONTRES/VECTOR/ic-ev-place.svg") center no-repeat;
                    background-size: contain;
                }
                .efscd-price-ic {
                    background: url("../ASSETS/IMAGES/FORMATIONRENCONTRES/VECTOR/ic-ev-price-ticket.svg") center no-repeat;
                    background-size: contain;
                }
                .efscd-liste-detail-content {
                    margin-bottom: 0;
                    padding-left: 32px;
                }
            }
            > *:first-child {
                padding-top: 0px;
            }
        }
        .efscd-ctas {
            display: flex;
            flex-direction: column;
            .addtocalendar {
                margin-bottom: 16px;
            }
            .cta-a {
                @include laptopS {
                    width: 100%;
                }
            }
        }
    }
}
}

.formation-form-section {
    margin-top: - $bbc-m ;

    @include tablet {
        margin-top: - $bbc-t;
    }
    @include laptopS {
        margin-top: - $bbc-l ;
    }
    @include laptopL {
        margin-top: - $bbc-d ;
    }
}

#formation-form-section {
    .frm_forms {
        form {
            padding-bottom: 48px;
            @include tablet {
                padding-bottom: 64px;
            }
        }
    }
}