.frm_opt_container {
    margin-bottom: $margin-bottom-between-el-m;
    @include laptopS {
        margin-bottom: $margin-bottom-between-el-l;
    }
    .frm_checkbox {
        label {
            @include frm-checkbox-label;
            text-indent: 0px;
            display: flex !important;
            align-items: center !important;
            padding-left: 0px !important;
            cursor: pointer;

            input[type=checkbox] {
                position: relative;
                width: 20px;
                height: 20px; 
                opacity: 1;
                margin-right: 20px;
                margin-top: 0;
                border: none !important;
                box-shadow: none !important;

                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    top: 50%;
                    left: 50%;
                    width: 24px;
                    height: 24px;
                    transform: translate(-50%,-50%);
                    border: 2px solid $blue-light-2;
                    border-radius: 5px;
                    background-color: $white;
                    cursor: pointer;
                }
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    top: 50%;
                    left: 50%;
                    width: 0px;
                    height: 0px;
                    transform: translate(-50%,-50%);
                    @include trans-a;
                    cursor: pointer;
                }

                &:checked {
                    &:before {
                    }
                    &:after {
                        background-color: $orange-1;
                        width:12px;
                        height: 12px;
                        @include trans-a;
                    }
                }
            }
        }
    }
}

.formation-evenement-template-default .formation-form-section .frm_opt_container .frm_checkbox label input[type=checkbox]:before {
    background-color: $blue-light;
}

.publications-template-default .frm_opt_container .frm_checkbox label input[type=checkbox]:before {
    background-color: $blue-light;
}