$tab-nav-item-radio-size: 22px;

.publication-form-section {
    background: $blue-light;
    padding: 56px 0px 72px 0px;
    @include tablet {
        padding: 80px 0px 80px 0px;
    }
    @include laptopS {
        padding: 88px 0px 88px 0px;
    }
    .publication-form-wrapper {
        @include laptopL {
            width: 17 * $dCol;
        }
        .form-header-section {
            @include tablet {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .form-header-section-title {
                @include hando-sb;
                color: $blue-1;
                font-size: 26px;
                line-height: 30px;
                @include tablet {
                    width: 15 * $tCol;
                    text-align: center;
                }
                @include laptopS {
                    width: 17 * $lCol; 
                    font-size: 36px;
                    line-height: 42px;
                }
            }
            .form-header-section-content {
                @include hando-l;
                color: $blue-3;
                font-size: 14px;
                line-height: 26.62px;
                @include tracking(25);
                margin: 32px 0px 40px 0px;
                @include tablet {
                    width: 13 * $tCol;
                    text-align: center;
                }
                @include laptopS {
                    width: 15 * $lCol;
                    margin: 40px 0px 48px 0px; 
                }
            }
        }
        .form-tabulations-wrapper {
            @include tablet {
                display: flex;
                justify-content: center;
                margin-bottom: $margin-bottom-between-el-m * 2;
            }
            @include laptopS {
                margin-bottom: $margin-bottom-between-el-l;
            }
            .tab-nav-item {
                position: relative;
                display: flex;
                align-items: center;
                @include hando-b;
                font-size: 13px;
                line-height: 24px;
                @include tracking(100);
                text-transform: uppercase;
                color: $blue-1;
                margin-bottom: 40px;
                cursor: pointer;

                @include tablet {
                    margin-bottom: 0px;
                }

                &:first-child {
                    @include tablet {
                        margin-right:  $lCol;
                    }
                }
                .tab-nav-item-radio {
                    position: relative;
                    content: "";
                    display: inline-block;
                    width: $tab-nav-item-radio-size;
                    height: $tab-nav-item-radio-size;
                    border: 2px solid $blue-light-2;
                    border-radius: 50%;
                    margin-right: 8px;
                    &:after {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 0px;
                        height: 0px;
                        background: $orange-1;
                        border-radius: 50%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }

            }
            .tab-nav-item-active {
                color: $orange-1;
                text-decoration: underline;
                .tab-nav-item-radio {

                    &:after {
                        width: 12px;
                        height: 12px;
                        @include trans-a;
                    }
                }
            }
        }

        .form-wrapper-item {
            display: none;
            .frm_form_field {
                .form-wrapper-item-title {
                    @include hando-b;
                    color: $blue-1;
                    font-size: 13px;
                    line-height: 24px;
                    @include tracking(100);
                    text-transform: uppercase;
                }
            }
            .frm_forms {
                position: relative;
                // padding-bottom: 48px;
                // margin-bottom: 48px;
                @include tablet {
                    // padding-bottom: 64px;
                    // margin-bottom: 64px;
                }

                form {
                    .frm_form_fields {
                        fieldset {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .form-wrapper-item-active {
            display: block;
        }
        .publication-form-footer {
            p {
                @include hando-l;
                font-size: 14px;
                line-height: 26.62px;
                @include tracking(25);
                text-align: center;
                @include laptopS {
                    width: 14 * $tCol;
                    margin: auto;
                }
            }
            &:hover {
                p {
                    text-decoration: underline;
                }
            }
        }

    }
}