.flex-image {
    // @include max-heights-media;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-small-picture;
    overflow: hidden;
    margin: $flex-items-yMargins * 2 0px !important;
    width: 100%;
    @include tablet {
        margin: $flex-items-yMargins * 2 0px !important;
    }
    @include laptopS {
        margin: $flex-items-yMargins * 2 0px !important;
    }
    @include laptopL {
        margin: $flex-items-yMargins * 2 0px !important;
    }
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}