.flex-introduction-wrapper {
  margin-bottom: $space-between-flex-items-d + $space-between-flex-items-l;

  @include tablet {
    margin-bottom: $space-between-flex-items-d * 2;
  }
  @include laptopS {
    margin-bottom: $space-between-flex-items-d + $space-between-flex-items-m;
  }
  @include laptopL {
    margin-bottom: $space-between-flex-items-d * 2;
  }
}