.flex-titre-icone-wrapper {
    display: flex;
    align-items: center;
    margin: $space-between-flex-items-d + $space-between-flex-items-m 0px $space-between-flex-items-t;
    @include laptopS {
        margin: $space-between-flex-items-d * 3 0px $space-between-flex-items-l;
    }
    h2 {
        @include hando-sb;
        color: $blue-1;
        font-size: 22px;
        line-height: 28px;
        padding-left: 40px;
        @include tablet {
            font-size: 24px;
            line-height: 30px;
        }
        @include laptopS {
            font-size: 28px;
            line-height: 40px;
        }
        @include laptopL {
            font-size: 30px;
            line-height: 42px;
        }
    }
}