
$fcai-w-l: 90%;
.flex-contenu-accordeon-wrapper {
    argin: $flex-items-yMargins 0px;
    .contenu-accordeon-item {
        position: relative;
        background: $blue-light;
        margin-bottom: 24px;
        border-radius: 8px;
        cursor: pointer;
        @include trans-a;

        @include tablet {

        }
        @include laptopS {
            @media (hover: hover) {     
                &:hover {
                    background: $blue-light-3;
                    transition: none !important;
                }
            } 
        }


        .cai-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 32px 24px 32px; 
            margin-bottom: 0px;
        .cai-titre {
            width: 6 * $mCol;
            margin-bottom: 0px;
            margin: 0px !important;
            @include hando-b;
            font-size: 15px;
            line-height: 23px;
            @include tracking(25);
            @include tablet {
                width: 13 * $tCol;
            }
            @include laptopS {
                width: $fcai-w-l;
            }

        }
        .cai-ic {
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $white;
            transform: translateX(calc(50% - 10px));
            @include tablet {
                width: 50px;
                height: 50px;
                transform: translateX(calc(50% - 25px));
            }
            &:before {
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                content: "";
                background: url("../ASSETS/IMAGES/common/VECTOR/simple-plus-orange.svg") center no-repeat;
                background-size: contain;
                left: 50%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
        .cai-contenu {
            @include close-dropdown-container;
            padding: 0px 32px 24px 32px; 
            margin-top: -24px;
            cursor: initial;
            @include tablet {
                width: 17 * $tCol;
            }
            @include laptopS {
                width: $fcai-w-l;
            }
            p {
                margin-bottom: 0px;
                margin-top: 0px;
                @include close-dropdownItem;
            }
            & > * {
                @include close-dropdownItem;
            }
        }

    }
    .contenu-accordeon-item-active {
        @include laptopS {
            @media (hover: hover) { 
                    background: $blue-light !important;
                    @include trans-a;
                
                }
        }
        .cai-contenu {
            @include open-dropdown-container;
            margin-top: 0px;
            padding-bottom: 32px;
            p {
                @include open-dropdownItem;
                margin-top: 24px;
            }
            & > * {
                @include open-dropdownItem;
            }
            & > *:last-child {
                margin-bottom: 0;
            }
            & > *:first-child {
                margin-top: 0;
            }
        }
        .cai-header {
        .cai-ic {
            &:before {
                background: url("../ASSETS/IMAGES/common/VECTOR/simple-minus-orange.svg") center no-repeat;
            }
        }
    }
    }
}