.accompagnement-conseils-contenu-section{
    padding-bottom: 40px;
    @include tablet {
        padding-bottom: 80px;
    }
    @include laptopS {
        padding-bottom: 72px;
    }
    @include laptopL {
        padding-bottom: 72px;
    }
    .accompagnement-conseils-contenu-main {
        // margin-bottom: 40px;
        @include laptopS {
            display: flex;
            justify-content: center;
        }
        @include laptopL {
            padding: 0 $dCol;
        }
        .accompagnement-conseils-content {
            margin-bottom: 40px;
            @include laptopS {
                margin-bottom: 0px;
                width: 14 * $lCol;
                // margin-right: 2 * $lCol;
            }
            @include laptopL {
                width: 12 * $dCol;
                // margin-right: 2 * $dCol; 
            }
        }
    }
    .accompagnement-conseils-aside-wrapper {
        display: flex;
        flex-direction: column;
        @include laptopS {
            position: sticky;
            top: 24px;
            height: fit-content;
        }
    .accompagnement-conseils-aside {
        background-color: $orange-light;
        padding: $padding-aside-bloc-m;
        border-radius: 8px;
        margin-bottom: 32px;
        @include tablet {
            padding: $padding-aside-bloc-t;
        }
        @include laptopS {
            padding: $padding-aside-bloc-l;
            width: 7 * $lCol;
            margin-left: 2 * $lCol;
        }
        @include laptopL {
            padding: $padding-aside-bloc-d;
            width: 7 * $dCol;
            margin-left: 2 * $dCol;
        }
        .accompagnement-conseils-aside-titre {
            @include hando-b;
            font-size: 13px;
            line-height: 24px;
            @include tracking(100);
            color: $blue-1;
            text-transform: uppercase;
        }
        .accompagnement-conseils-aside-text {
            @include hando-l;
            font-size: 13px;
            line-height: 25px;
            @include tracking(25);
            color: $blue-3;
            margin: 8px 0px 8px 0px;
            @include laptopS {
                margin: 16px 0px 0px 0px;
            }
        }
        .accompagnement-conseils-aside-links {
            .accompagnement-conseils-aside-link-item {
                position: relative;
                margin: 4px 0px;
                @include laptopS {
                    margin: 8px 0px;
                }
                &:not(:first-of-type) {
                    &:after {
                        position: absolute;
                        content: "";
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: $white;
                        top: -2px;
                        @include laptopS {
                            top: -4px;
                        }
                    }
            }
            }
        }
        
    }
    }
}

