.nav-search{
     label {
         display: none;
     }
     input[type=image]{

     }
}

.nav-search-mobile {
    position: relative;
    width: 100%;
    padding: 24px 80px 24px 24px;
    border: 1px solid $orange-1;
    border-radius: 8px;
    // overflow: hidden;
    margin-bottom: 24px;
    background-color: $blue-1;

    label {
        display: none;
    }
    input[type=image]{
        position: absolute;
        padding: 27px;
        height: 116%;
        // background: transparent;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        border-radius: 0px 8px 8px 0px;

    }
    input[type=text] {
        @include hando-l;
        color: $orange-1;
        font-size: 15px;
        line-height: 24px;
        @include tracking(50);
        background: transparent;
        width: 100%;
        &:focus {
            background-color:transparent !important;
        }
        &:-webkit-autofill,&:-webkit-autofill:hover,&:-webkit-autofill:focus,&:-webkit-autofill:active {
            -webkit-text-fill-color: $orange-1;
        }
        &::placeholder {
            @include hando-l;
            color: $orange-1;
            font-size: 15px;
            line-height: 24px;
            @include tracking(50);
        }
    }

    @include tablet {
        display: none;
    }
}

.nav-search-tablet {
    display: none;
    @include tablet {
        display: block;
    }
    @include laptopS {
        display: none;
    }
}

.nav-search-tablet {
    position: fixed;
    width: 100vw;
    background: $orange-light;
    left: 0;
    top: -380px;
    @include shadow-search-tablet($blue-1-30);
    display: block;
    @include trans-b-b;
    padding: 56px 88px 80px 88px;
    z-index: 1;

    label {
        display: block;
        @include hando-sb;
        font-size: 30px;
        line-height: 36px;
        color: $blue-1;
        padding: 40px 0;
    }
    input[type=image]{
        position: absolute;
        width: 32px;
        bottom: 96px;
        right: 88px;                 
    }
    input[type=text] {
        @include hando-xl;
        color: $blue-1;
        font-size: 32px;
        line-height: 64px;
        background: transparent;
        width: 100%;
        border-bottom: solid 1px $orange-1;
        padding-right: 60px;
        box-shadow: none !important;

        &:focus {
            background-color: transparent !important;
            box-shadow: none !important;
        }

        &:-webkit-autofill,&:-webkit-autofill:hover,&:-webkit-autofill:focus,&:-webkit-autofill:active {
            -webkit-text-fill-color: $blue-1;
        }

    }
}
.nav-search-tablet-active {
    top: 87px;
    @include trans-b;
}
.nav-search-tablet-close-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    // border: 2px solid $orange-1;
    top: 72px;
    right: 88px;
    cursor: pointer;
    background-color: $white;

    @include laptopL {
        top: 20px;
    }

    >span {
        &:before {
            display: block;
            content: "";
            width:13px;
            height:13px;
            background: url("../ASSETS/IMAGES/common/VECTOR/ic-close-orange.svg") center no-repeat;
            background-size: contain;
            @include trans-a;
        }
    }

}