// ============= ATOMS =============
@import"./01_ATOMS/reset.scss";
@import"./01_ATOMS/grid.scss";
@import"./01_ATOMS/mediaqueries.scss";
@import"./01_ATOMS/mixin.scss";
@import"./01_ATOMS/colors.scss";
@import"./01_ATOMS/fonts.scss";
@import"./01_ATOMS/spaces-between-flex-items.scss";
@import"./01_ATOMS/typography.scss";
@import"./01_ATOMS/transitions.scss";
@import"./01_ATOMS/generic-typography.scss";
@import"./01_ATOMS/anchor.scss";
@import"./01_ATOMS/data-common.scss";
@import"./01_ATOMS/max-heights-media.scss";
@import"./01_ATOMS/ease.scss";

// ============= MOLECULES =============
@import"./02_MOLECULES/call-to-actions.scss";
@import"./02_MOLECULES/pentagone-shape.scss";
@import"./02_MOLECULES/social-item.scss";
@import"./02_MOLECULES/nav-search.scss";
@import"./02_MOLECULES/add-to-calendar.scss";
@import"./02_MOLECULES//bottom-divider.scss";

// ============= ORGANISMS =============
@import"./03_ORGANISMS/header.scss";
@import"./03_ORGANISMS/header-laptop.scss";
@import"./03_ORGANISMS/hero-type-a.scss";
@import"./03_ORGANISMS/hero-type-b.scss";
@import"./03_ORGANISMS/hero-type-c.scss";
@import"./03_ORGANISMS/hero-type-d.scss";
@import"./03_ORGANISMS/hero-type-e.scss";
@import"./03_ORGANISMS/hero-type-f.scss";
@import"./03_ORGANISMS/hero-type-g.scss";
@import"./03_ORGANISMS/hero-type-h.scss";
@import"./03_ORGANISMS/hero-type-i.scss";
@import"./03_ORGANISMS/actu-card.scss";
@import"./03_ORGANISMS/card-type-a.scss";
@import"./03_ORGANISMS/card-type-b.scss";
@import"./03_ORGANISMS/card-type-c.scss";
@import"./03_ORGANISMS/custom-sliders.scss";
@import"./03_ORGANISMS/contact-banner.scss";
@import"./03_ORGANISMS/share-section.scss";
@import"./03_ORGANISMS/Formidable/formidable-main.scss";
@import"./03_ORGANISMS/Filtres/filtres-main.scss";
@import"./03_ORGANISMS/form-a-section.scss";
@import"./03_ORGANISMS/menu-lang.scss";
@import"./03_ORGANISMS/Footer/footer.scss";


// ============= PAGES =============
@import"./04_PAGES/HomePage/Home-page.scss";
@import"./04_PAGES/NotesPratiquesOutils/notes-pratiques-outils.scss";
@import"./04_PAGES/NPOQuestions/notes-pratiques-outils-loop-section.scss";
@import"./04_PAGES/SuccessStories/projets-accompagnes-section.scss";
@import"./04_PAGES/SuccessStories/projet-accompagne-detail.scss";
@import"./04_PAGES/Mediatheque/mediatheque-page.scss";
@import"./04_PAGES/Mediatheque/publication-content-section.scss";
@import"./04_PAGES/AccompagnementConseil/accompagnement-conseil-section.scss";
@import"./04_PAGES/Actualites/actualites-section.scss";
@import"./04_PAGES/Actualites/actualite-single.scss";
@import"./04_PAGES/FormationsEvents/formations-rencontres-main.scss";
@import"./04_PAGES/Expertises/expertises-sections.scss";
@import"./04_PAGES/APropos//about-main-section.scss";
@import"./04_PAGES/EntreprenariatCoop/entreprenariat-coop.scss";
@import"./04_PAGES/Search/search-page.scss";
@import"./04_PAGES/Contact/contact-page.scss";
@import"./04_PAGES/FlexibleContent/flexible-main.scss";
@import"./04_PAGES/PrisesPositions/prises-positions-loop-section.scss";

.post-page-link {
    display: block;
}

.extra-infos {
    @include tablet {
        width: 11 * $tCol;
    }
    @include laptopS {
        width: 11 * $lCol;
    }
    @include laptopL {
        width: 9 * $dCol;
    }
    p {
        @include footer-paragraph-s;    
    @include trans-a; 
    }
}