// MINIMUM PADDING BOTTOM BEFORE BANNER CONTACT
// Ces tailles correspondent à combien dépasse l'illu de contact banner

$bbc-m: 180px;
$bbc-t: 64px;
$bbc-l: 172px;
$bbc-d: 190px;


// Espaces entre les cartes et les boutons "Voir tout"
$cb-space-m: 48px;
$cb-space-t: 48px;
$cb-space-l: 48px;
$cb-space-d: 48px;