// MINIMUM PADDING BOTTOM BEFORE BANNER CONTACT
// Ces tailles correspondent à combien dépasse l'illu de contact banner

$bbc-m: 234px;
// $bbc-m: 180px;
$bbc-t: 64px;
$bbc-l: 172px;
$bbc-d: 190px;


// Espaces entre les cartes et les boutons "Voir tout"
$cb-space-m: 48px;
$cb-space-t: 48px;
$cb-space-l: 48px;
$cb-space-d: 48px;

// Borders Radius pour les images
$border-radius-small-picture : 8px;
$border-radius-big-picture : 8px;


// Paddings aside blocs
$padEdge-aside-top-m:48px;
$padEdge-aside-right-m:$mCol;
$padEdge-aside-bottom-m:32px;
$padEdge-aside-left-m:$mCol;

$padEdge-aside-top-t:48px;
$padEdge-aside-right-t:2 * $tCol;
$padEdge-aside-bottom-t:32px;
$padEdge-aside-left-t:2 * $tCol;

$padEdge-aside-top-l:40px;
$padEdge-aside-right-l:24px;
$padEdge-aside-bottom-l:16px;
$padEdge-aside-left-l:24px;

$padEdge-aside-top-d:40px;
$padEdge-aside-right-d: $dCol;
$padEdge-aside-bottom-d:24px;
$padEdge-aside-left-d:$dCol;

$padding-aside-bloc-m: $padEdge-aside-top-m $padEdge-aside-right-m $padEdge-aside-bottom-m $padEdge-aside-left-m; 
$padding-aside-bloc-t: $padEdge-aside-top-t $padEdge-aside-right-t $padEdge-aside-bottom-t $padEdge-aside-left-t;           
$padding-aside-bloc-l: $padEdge-aside-top-l $padEdge-aside-right-l $padEdge-aside-bottom-l $padEdge-aside-left-l; 
$padding-aside-bloc-d: $padEdge-aside-top-d $padEdge-aside-right-d $padEdge-aside-bottom-d $padEdge-aside-left-d; 

// Largeur des contenus flex
$largeur-flex-main-l: 14 * $lCol;
$largeur-flex-main-d: 12 * $dCol;

// Largeur des aside flex
$largeur-aside-main-l: 7 * $lCol;
$largeur-aside-main-d: 7 * $dCol;


// Margin left des asides 
$aside-main-margin-left-l : 2 * $lCol;
$aside-main-margin-left-d : 2 * $dCol;






// Espaces pour les cartes avec icones/paragraphe/buttons
// Card Padding
@mixin padding-card-with-icone-m {
    padding: 40px $mCol;
}
@mixin padding-card-with-icone-t {
    padding: 48px $tCol 80px $tCol;
}
@mixin padding-card-with-icone-l {
    padding: 64px $lCol 72px $lCol;
}
@mixin padding-card-with-icone-d {
    padding: 64px $dCol 72px $dCol;
}

// Card Paragraph margin
@mixin margin-paragraph-card-with-icone-m {
    margin: 32px 0;
}
@mixin margin-paragraph-card-with-icone-t {
    margin: 16px 0 16px 0px;
}
@mixin margin-paragraph-card-with-icone-l {
    margin: 16px 0 16px 0px;
}
@mixin margin-paragraph-card-with-icone-d {
    margin: 16px 0 16px 0px;
}