$flex-all-mb: 40px;

$margin-flex-txt : 40px;

$flex-items-yMargins : 24px;

@mixin flex-titre-1 {
  @include hando-sb;
  color: $blue-1;
  font-size: 26px;
  line-height: 34px;
  margin: $flex-items-yMargins 0px;

  @include tablet {
    font-size: 28px;
    line-height: 36px;
  }

  @include laptopS {
    font-size: 32px;
    line-height: 40px;
  }

  @include laptopL {
    font-size: 36px;
    line-height: 42px;
  }
  a {
    position: relative;
    color: $orange-1;
    @include trans-a;


    &:hover {
      color: $red-1;
      @include trans-a;
    }
  }
}
@mixin flex-titre-2 {
  @include hando-sb;
  color: $blue-1;
  font-size: 22px;
  line-height: 28px;
  margin: $flex-items-yMargins 0px; 

  @include tablet {
    font-size: 24px;
    line-height: 37px;
  }

  @include laptopS {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  @include laptopL {
    font-size: 30px;
    line-height: 42px;
  }

  a {
    color: $orange-1;
    @include trans-a;

    &:hover {
      color: $red-1;
      @include trans-a;
    }
  }
}
@mixin paragraph {
  @include hando;
  color: $blue-2;
  font-size: 16px;
  line-height: 28px;
  margin: $flex-items-yMargins 0px;
  @include tracking(25);
}
@mixin blockquote {
  @include paragraph;
  @include hando-b;
  position: relative;
  padding-left: 16px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $orange-1;
  }
}
@mixin flex-link {
  color: $orange-1;
  text-decoration: none !important;
  @include trans-a;
  position: relative;
  > span {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), $orange-1 1px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.2s ease-out;
  }
  &:hover {
    > span {
      background-size: 100% 100%;
    }
  }

}
@mixin bold {
  @include hando-b;
}
@mixin ordered-list {
  list-style: none;
  counter-reset: my-counter;
  li {
    @include paragraph;
    counter-increment: my-counter;
    margin: 0px 0px $flex-items-yMargins / 2 0px ;

    &:before {
      @include hando-b;
      content: counter(my-counter) ". ";
      color: $orange-1;
    }
    a {
      color: $orange-1;
      @include trans-a;
      &:hover {
        color: $red-1;
        @include trans-a;
      }
    }
  }
}
@mixin unordered-list {

  li {
    @include paragraph;
    margin: 0px  0px $flex-items-yMargins / 2 0px ;
    position: relative;
    padding-left: 40px;

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 4px;
      height: 2px;
      background: $orange-1;
      top: 11px;
      left: 25px;
    }

    a {
      color: $orange-1;
      @include trans-a;
      &:hover {
        color: $red-1;
        text-decoration: underline;
        @include trans-a;
      }
    }
  }
}
@mixin generic-content {
  p {
    @include paragraph;
    strong {
      @include bold;
    }
    a {
      @include flex-link;
    }

  }
  blockquote {
    p {
        @include blockquote;
    }
  }
  h1 {
    @include flex-titre-1;
  }
  h2 {
    @include flex-titre-1;
  }
  h3 {
    @include flex-titre-1;
  }
  h4 {
    @include flex-titre-2;
  }
  h5 {
    @include flex-titre-2;
  }
  h6 {
    @include flex-titre-2;
  }
  ol {
    @include ordered-list;
  }
  ul {
    @include unordered-list;
  }
  div {
    @include paragraph;
    margin-bottom: 0px;
  }
}
.generic-content {
  @include generic-content;
  overflow: hidden;
  margin-top: - $flex-items-yMargins !important;

  > *:nth-last-child(2) {
    margin-bottom: 0px;
  }
}

@mixin introduction-a {
  @include hando-m;
  color: $blue-1;
  font-size: 16px;
  line-height: 31px;
  @include tracking(25);

  @include tablet {
    font-size: 18px;
    line-height: 35px;
  }

  @include laptopS {
    font-size: 20px;
    line-height: 37px;
  }

  @include laptopL {
    font-size: 22px;
    line-height: 39px;
  }
}

#intro-a {
  @include introduction-a;
}
