$flex-all-mb: 40px;

$margin-flex-txt : 40px;

@mixin flex-titre-1 {
  @include hando-sb;
  color: $blue-1;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: $space-between-flex-items-l;

  @include tablet {
    font-size: 28px;
    line-height: 36px;
  }

  @include laptopS {
    font-size: 32px;
    line-height: 40px;
  }

  @include laptopL {
    font-size: 36px;
    line-height: 42px;
  }
  a {
    position: relative;
    color: $orange-1;
    @include trans-a;


    &:hover {
      color: $red-1;
      @include trans-a;
    }
  }
}
@mixin flex-titre-2 {
  @include hando-sb;
  color: $blue-1;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: $space-between-flex-items-l;

  @include tablet {
    font-size: 24px;
    line-height: 37px;
  }

  @include laptopS {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  @include laptopL {
    font-size: 30px;
    line-height: 42px;
  }

  a {
    color: $orange-1;
    @include trans-a;

    &:hover {
      color: $red-1;
      @include trans-a;
    }
  }
}
@mixin paragraph {
  @include hando;
  color: $blue-2;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: $space-between-flex-items-l;
  @include tracking(25);
}
@mixin blockquote {
  @include paragraph;
  @include hando-b;
  position: relative;
  padding-left: 16px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $orange-1;
  }
}
@mixin flex-link {
  color: $orange-1;
  text-decoration: none !important;
  @include trans-a;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $orange-1;
    bottom: -4px;
    @include trans-a;
  }

  &:hover {
    &::after {
      width: 100%;
      @include trans-a;
    }

  }

}
@mixin bold {
  @include hando-b;
}
@mixin ordered-list {
  list-style: none;
  counter-reset: my-counter;
  margin-bottom: $space-between-flex-items-l ;
  li {
    @include paragraph;
    counter-increment: my-counter;
    margin-bottom: 0;

    &:before {
      @include hando-b;
      content: counter(my-counter) ". ";
      color: $orange-1;
    }
    a {
      color: $orange-1;
      @include trans-a;
      &:hover {
        color: $red-1;
        @include trans-a;
      }
    }
  }
}
@mixin unordered-list {
  margin-bottom: $space-between-flex-items-l ;
  li {
    @include paragraph;
    margin-bottom: 0;
    position: relative;
    padding-left: 40px;

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 4px;
      height: 2px;
      background: $orange-1;
      top: 11px;
      left: 25px;
    }

    a {
      color: $orange-1;
      @include trans-a;
      &:hover {
        color: $red-1;
        @include trans-a;
      }
    }
  }
}
@mixin generic-content {
  p {
    @include paragraph;
    strong {
      @include bold;
    }
    a {
      @include flex-link;
    }

  }
  blockquote {
    p {
        @include blockquote;
    }
  }
  h1 {
    @include flex-titre-1;
  }
  h2 {
    @include flex-titre-1;
  }
  h3 {
    @include flex-titre-1;
  }
  h4 {
    @include flex-titre-2;
  }
  h5 {
    @include flex-titre-2;
  }
  h6 {
    @include flex-titre-2;
  }
  ol {
    @include ordered-list;
  }
  ul {
    @include unordered-list;
  }
}
.generic-content {
  @include generic-content;
  overflow-x: hidden;
}

@mixin introduction-a {
  @include hando-m;
  color: $blue-1;
  font-size: 16px;
  line-height: 31px;
  @include tracking(25);

  @include tablet {
    font-size: 18px;
    line-height: 35px;
  }

  @include laptopS {
    font-size: 20px;
    line-height: 37px;
  }

  @include laptopL {
    font-size: 22px;
    line-height: 39px;
  }
}

#intro-a {
  @include introduction-a;
}
