*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  html {
    position: relative;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    margin-top: 0px !important;
  }
  
  
  body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    canvas {
      display: block;
    }
  }
  .body-fixed {
    position: fixed;
    top: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none !important;
    cursor: pointer;
    
  }
  
  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }
  
  button {
    cursor: pointer;
  }
  
  input[type=text] {
    box-shadow: none !important;

    &:focus {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    &:-webkit-autofill,&:-webkit-autofill:hover,&:-webkit-autofill:focus,&:-webkit-autofill:active {
        background-color: transparent !important;
        box-shadow: none !important;
        transition: background-color 8000000s ease-in-out 0s;
    }

}