$npp-pic-height-m: 256px;
$npp-pic-margin-bottom-m: 56px;
$npp-pic-full-padding-top-m: $npp-pic-height-m + $npp-pic-margin-bottom-m;

$npp-pic-height-t: 490px;
$npp-pic-margin-bottom-t: 48px;
$npp-pic-full-padding-top-t: $npp-pic-height-t + $npp-pic-margin-bottom-t;

$npp-space-between-els-m: 32px;

.nos-prises-positions-section {
    background-color: $blue-light;
    overflow-x: hidden;
    @include tablet {
        padding-bottom: 88px;
        overflow: visible;
    }
    @include laptopS {
        padding: 128px 0;
    }
    .nos-prises-positions-section-wrapper {
        position: relative;
        // padding-top: $npp-pic-full-padding-top-m;
        padding-bottom: $npp-space-between-els-m * 2;
        @include tablet {
            padding: 0 2 * $tCol 2 * $npp-space-between-els-m 2 * $tCol;
            // padding-top: $npp-pic-full-padding-top-t;
        }
        @include laptopS {
            padding: 80px 0;
            position: relative;
        }
        &::before {
            @include tablet {
                position: absolute;
                display: block;
                content: "";
                background-color: $white;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                
            }
            @include laptopS {
                transform: translate(0,-50%);
                left: unset;
                right: - 7 * $lCol;
                z-index: 2;
            }
        }
        &:after {
            @include laptopS {
                position: absolute;
                display: block;
                content: "";
                width: 560px;
                height: 530px;
                background: url("../ASSETS/IMAGES/HOME/VECTOR/illu-dots-slider.svg") center no-repeat;
                background-size: contain;
                z-index: 1;
                top: -58px;
                left: -220px;
            }
        }
        .nos-prises-positions-pic-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $grid-size-slide-m;
            height: $grid-size-slide-m-ratio-3-2;
            // left: 50%;
            // transform: translateX(-50%) translateY(- $npp-pic-full-padding-top-m);
            // transform: translateX(-50%) translateY(0px);
            background-color: $orange-light;
            // position: absolute;
            margin-bottom: 40px;
            border-radius: 8px;
            overflow: hidden;
            @include shadow-a-pic;

            @media (min-width:500px) {
                width: 100%;
                height: 333.33333333333px;
            }

            @include tablet {
                // height: $npp-pic-height-t;
                // transform: translateX(-50%) translateY(- $npp-pic-full-padding-top-t);
                position: relative;
                height: 312px;
                top: -40px;
                margin-bottom: 0px;
            }
            @include laptopS {
                position: absolute;
                width: 15 * $lCol;
                height: 400px;
                top: 50%;
                transform: translateX(- 3 * $lCol) translateY(-50%);
                z-index: 3;
            }
            @include laptopL {
                width: 13 * $dCol;
                height: 434px;
                left:  -1 * $dCol;
                transform: translateX(0)  translateY(-50%);
            }

            > img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        .nos-prises-positions-content {
            margin-bottom: $npp-space-between-els-m;
            position: relative;
            
            @include laptopS {
                width: 9 * $lCol;
                margin-left: 14 * $lCol;
                z-index: 2;
            }
            @include laptopL {
                width: 9 * $dCol;
                margin-left: 14 * $dCol;
            }
            > h3 {
                @include intertitre-a-underlined;
                &:before {
                    background-color: $red-1-20;
                }
                color: $red-1;
                margin: 0 auto $intertitre-bottom-margin auto;
                @include tablet {
                    margin: 0 auto 32px auto;
                }
                @include laptopS {
                    margin: 0 auto 32px auto;
                }
            }
            > h2 {
                @include hando-sb;
                color: $blue-1;
                font-size: 22px;
                line-height: 28px;
                @include tablet {
                    font-size: 24px;
                    line-height: 37px;
                }
                @include laptopS {
                    font-size: 28px;
                    line-height: 34px;
                }
                @include laptopL {
                    font-size: 30px;
                    line-height: 42px;
                }
            }
            > p {
                @include hando-l;
                color: $blue-3;
                font-size: 14px;
                line-height: 26.62px;
                @include tracking(25);
                margin: $npp-space-between-els-m 0px;
                @include text-shave(5);
            }
            .nos-prises-positions-content-texte {
                @include hando-l;
                color: $blue-3;
                font-size: 14px;
                line-height: 26.62px;
                @include tracking(25);
                margin: $npp-space-between-els-m 0px;
                @include text-shave(5);
            }

        }
        .cta-d {
            @include laptopS {
                margin-left: 14 * $lCol;
                z-index: 2;
            }
            @include laptopL {
                margin-left: 14 * $dCol;
            }
        }
    }

}