$cci-pad-m: 48px;
$cci-pad-t: 32px;

.card-type-a {
    display: block;
    border-radius: 8px;
    background-color: $white;
    @include shadow-a-nopic;
    position: relative;
    @include padding-card-with-icone-m;
    margin-bottom: $cb-space-m;
    @include card-type-anime-a;

    @include tablet {
        margin: 0;
        @include padding-card-with-icone-t;
    }
    @include laptopS {
        @include padding-card-with-icone-l;
    }
    @include laptopL {
        @include padding-card-with-icone-d;
    }

    .card-type-a-header {
        display: flex;
        align-items: center;
        @include tablet {
            flex-direction: column;
            align-items: end;
        }
        > h3 {
            @include titre-card-type-a;
            margin-left: 24px;
            margin-bottom: 0px;

            @include tablet {
                margin: 24px 0px 0px 0px;
            }
            @include laptopS {
                margin: 32px 0px 0px 0px;
            }
            @include laptopL {
                margin: 32px 0px 0px 0px;
            }
        }
    }
    .card-type-a-content {
        .card-type-a-content-txt {
            @include text-card;
            @include margin-paragraph-card-with-icone-m;
            @include text-shave(3);

            @include tablet {
                @include margin-paragraph-card-with-icone-t;
            }
            @include laptopS {
                @include margin-paragraph-card-with-icone-l;
            }
            @include laptopL {
                @include margin-paragraph-card-with-icone-d;
            }
        }
        .cta-flex-a {
            position: relative;
            // bottom: $cci-pad-m;;
            width: 100%;

            @include tablet {
                width: fit-content;
                position: absolute;
                bottom: 40px;
            }
            @include laptopS {
                bottom: 40px;
            }
        }
    }
}