$cci-pad-m: 48px;
$cci-pad-t: 32px;

.card-type-a {
    display: block;
    border-radius: 8px;
    background-color: $white;
    @include shadow-a-nopic;
    position: relative;
    padding: $cci-pad-m $mCol $cci-pad-m * 2 $mCol;
    margin-bottom: 40px;

    @include tablet {
        margin: 0;
        padding: $cci-pad-t $tCol $cci-pad-t * 2 $tCol;
    }
    @include laptopS {
        padding: $cci-pad-t $lCol $cci-pad-t * 2 $lCol;
    }
    @include laptopL {
        padding: $cci-pad-t $dCol $cci-pad-t * 2 $dCol;
    }

    .card-type-a-header {
        display: flex;
        @include tablet {
            flex-direction: column;
        }
        > h3 {
            @include titre-card-type-a;
            margin-left: $mCol;

            @include tablet {
                margin: 24px 0px 24px 0px;
            }
            @include laptopS {
                margin: 32px 0px 24px 0px;
            }
            @include laptopL {
                margin: 32px 0px 24px 0px;
            }
        }
    }
    .card-type-a-content {
        .card-type-a-content-txt {
            @include text-card;
            margin-bottom: 46px;
            @include text-shave(3);
        }
        .cta-flex-a {
            position: absolute;
            bottom: $cci-pad-m;
            width: fit-content;

            @include tablet {
                bottom: $cci-pad-t;
            }
        }
    }
}