.contact-banner-section {
    background: $blue-1;
    position: relative;

    .contact-banner-section-deco-lines {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        right: 0;
        width: 400px;
        height: 60%;

        @include laptopS {
            width: 500px;
            height: 240px;
        }
        
        &:before {
            display: none;
            @include tablet {
                position: absolute;
                display: block;
                content: "";
                width: 140%;
                height: 150%;
                top: 0px;
                left: 90px;
                background: url("../ASSETS/IMAGES/common/VECTOR/illu-dots-publication-contact-banner.svg") center no-repeat;
                background-size: contain;
            }
            @include laptopS {
                
                height: 240%;

            }
            @include laptopL {
                left: -40px;
            }
        }

    }

    &:after {
        position: absolute;
        content: "";
        display: block;
        background: $blue-1;
        width: 100%;
        height: 100%;
        top: 0;
        @include tablet {
            top: unset;
            width: 100%;
            height: 400px;
            background: $white;
        }
    }
    .contact-banner-illu-container {
        position: absolute;
        top: - $bbc-m;
        width: 310px;
        height: fit-content;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @include tablet {
            width: 420px;
            z-index: 0;
            left: 156px;
            top: - $bbc-t;
            transform: translateX(-50%) translateY(0);
        }
        @include laptopS {
            width: 488px;
            left: 147px;
            top: - $bbc-l;
        }
        @include laptopL {
            left: 257px;
            top: - $bbc-d;
            width: 510px;
        }
    }
    .contact-banner-section-wrapper {
        padding: 40px 0 56px 0px;
        background: $blue-1;
        z-index: 1;
        min-height: 318px;
        @include tablet {
            padding: 80px 0 88px 0px;
            min-height: 503px;
        }
        @include laptopS {
            padding: 56px 0 56px 0px; 
            min-height: 397px;
        }
        @include laptopS{
            padding: 64px 0 64px 0px; 
            min-height: 386px;
        }
        .contact-banner-content-wrapper {
            z-index: 1;
            @include laptopS {
                display: flex;
                flex-direction: column;
            }
            @include laptopL {
                flex-direction: row;
                align-items: center;
            }
        .contact-banner-content-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include tablet {
                align-items: flex-start;
                width: 8 * $tCol;
                margin-left: 8 * $tCol;
            }
            @include laptopS{
                width: 12 * $lCol;
                margin-left: 9 * $lCol;
            }
            @include laptopL {
                width: 8 * $dCol;
                margin-left: 9 * $dCol;
            }
            h2 {
                @include titre-header-neg;
                text-align: center;
                @include tablet {
                    text-align: left;
                }
            }
            p {
                @include hando-l;
                color: $white;
                font-size: 17px;
                line-height: 26px;
                margin: 40px 0px;
                text-align: center;
                @include tablet {
                    text-align: left;
                    font-size: 18px;
                    line-height: 34px;
                }
                @include laptopS {
                    font-size: 19px;
                    line-height: 35px;
                }
            }
        }
        > .cta-a {
            padding: 24px 32px;
            @include tablet {
                padding: 24px 40px;
                margin-left: 8 * $tCol;
            }
            @include laptopS{
                padding: 24px 40px;
                margin-left: 9 * $lCol;
            }
            @include laptopL{
                position: absolute;
                right: 0;
                // margin-left: 3 * $dCol;
            }
        }
        }
    }
}

.contact-banner-section-far-from-footer {

    &::after {
        background: $blue-1;
        @include tablet {
            background: $blue-light;
        }
    }
}

#contact-banner-section-formation {
    .contact-banner-illu-container {
        position: absolute;
        // top: - $bbc-m;
        top: -180px;
        width: 310px;
        height: fit-content;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        img {
            object-fit: unset;
        }

        @include tablet {
            width: 540px;
            z-index: 0;
            left: 76px;
            top: - $bbc-t;

            img {
                object-fit: contain;
            }
        }
        @include laptopS {
            width: 500px;
            left: 147px;
            top: - $bbc-l;
        }
        @include laptopL {
            left: 207px;
            top: - $bbc-d;
            width: 536px;
        }
    } 
}

#publication-contact-banner {
    margin-top: $bbc-m + 40px;

    @include tablet {
        margin-top: $bbc-t + 40px;  
    }
    @include laptopS {
        margin-top: $bbc-l + 40px;  
    }
    @include laptopL {
        margin-top: $bbc-d + 40px;  
    }
}


#contact-banner-options-publication-noform {
    margin-top: 180px;
    @include tablet {
        margin-top: 0px;
    }
    @include laptopS {
        margin-top: 100px;
    }
}

#contact-banner-equipe-template {
    position: relative;
    &::before {
        position: absolute;
        display: block;
        content: "";
        background-color: $blue-light;
        width: 100vw;
        height: $bbc-m;
        top: -$bbc-m;
        @include tablet {
            height: $bbc-t * 2 ;
            top: -$bbc-t * 2;
        }
        @include laptopS {
            height: $bbc-l;
            top: -$bbc-l;
        }
        @include laptopL {
            height: $bbc-d;
            top: -$bbc-d;
        }
    }
}

#contact-banner-section-formation-single {
    .contact-banner-illu-container {
        top: -180.5px; 
        @include tablet {
            top: -64px;
        }
        @include laptopS {
            top: -172px;
        }
        @include laptopL {
            top: -190px;
        }
    }
    
    @include laptopS {
        margin-top: -80px;
    }
}