@mixin slider-cta-type-a{
    display: block;
    width: 50px;
    height: 50px;
    background: $white;
    border-radius: 50%;
    position: relative;
    left: unset;
    right: unset;
    margin: unset;
    @include trans-a;
    &:before {
        position: absolute;
        content: "";
        display: block;
        top: calc(50%);
        width: 10px;
        height: 10px;
        background: url("../ASSETS/IMAGES/common/VECTOR/simple-arrow-orange.svg") center no-repeat;
        background-size: contain;
        left: calc(50%);
        @include trans-a;
    }
    &:hover {
        transform: scale(1.1);
        @include trans-a;
    }
}
// $swiper-container-bottom-padding-m : 104px;
// ========= 
// ========= HEADER SLIDER  =========
// ========= 

//  HEADER TYPE A
.slider-type-a-header {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
    @include laptopS {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15 * $lCol;
        height: 521px;
        // z-index: 2;
    }
    @include laptopL {
        margin-left: 15 * $dCol - 12px;
    }
 h2 {
    @include intertitre-a;
    margin-bottom: $intertitre-bottom-margin;
    @include laptopS {
        @include intertitre-b-underlined;
        width: fit-content;
        z-index: 10;
    }
 }
}
//  HEADER TYPE B
.slider-type-b-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    @include laptopS {
        margin-bottom: 72px;
    }
    h3 {
        @include hando-sb;
        font-size: 22px;
        line-height: 29px;
        color: $blue-1;
        @include tablet {
            font-size: 24px;
            line-height: 31px;
        }
        @include laptopS {
            font-size: 28px;
            line-height: 35px;
        }
        @include laptopL {
            font-size: 30px;
            line-height: 37px;
        }
    }
    > a {
        display: none;
        @include tablet {
            display: block;
        }
    }
}
// ========= 
// ========= SLIDER SECTIONS =========
// ========= 

//  SECTION TYPE A
.slider-section-type-a  {
    padding-top: 56px;
    padding-bottom: $bbc-m + 64px;
    @include tablet {
        padding-bottom: $bbc-t + 40px;
    }
    @include laptopS {
        margin-top: 130px;
        padding-bottom: $bbc-l + 180px;
    }
    @include laptopL {
        padding-bottom: $bbc-d + 190px;
    }
    .slider-section-type-a-bg {
        position: absolute;
        display: block;
        background: $orange-light;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include laptopS {
            top: calc( 50% + 24px );
            transform: translateY(-50%);
            width: 100vw;
            height: 714px;
            bottom: unset;
            left: 5 * $lCol;
            right: unset;
        }
    }
    .slider-container-type-a {
        overflow: visible;
    
    .slider-wrapper-type-a {
        @include laptopS {
            height: 430px;
            overflow: visible;
        }
    }
}
}
.slider-container-type-b  {
    overflow: visible;

    .slider-wrapper-type-b {
        .swiper-slide {
            height: auto;

            > a {
                height: 100%;
            }
        }
    }
}
// CONTAINER TYPE B (used for flexible swipers)
.swiper-container-type-b {
    position: relative;
    margin:  $space-between-flex-items-m 0px;
    padding-bottom: $space-between-flex-items-t * 4;

    @include laptopS {
        margin:  $space-between-flex-items-l 0px;
        padding-bottom: $space-between-flex-items-l * 4;
    }
    @include laptopL {
        margin:  $space-between-flex-items-d 0px;
        padding-bottom: $space-between-flex-items-d * 4;
    }
    &:after {
        @include bottom-divider-pseudo-el;
    }
    .swiper-wrapper {
        overflow: hidden;
    }
}
// ========= 
// =========  SLIDES TYPES =========
// ========= 

// SLIDE TYPE A
.swiper-slide-type-a {
    display: block;
    background: $white;
    border-radius: 8px;
    overflow: hidden;
    @include shadow-a-pic-s;   
    height: auto;

    @include laptopS {
        height: 100%;
    }


    @include laptopS {
        display: flex;
        background: none;
        box-shadow: none;
        overflow: visible;
        align-items: center;
    }
    .slider-pic-wrapper-type-a {
        width: 100%;
        height: 205px;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 8px 8px;
        background-color: $white;

        @include laptopS {
            @include shadow-a-pic;
            border-radius:8px;
            overflow: hidden;
        }

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            @include trans-a;
            @include laptopS {
                // border-radius: 16px;
            }
            &:hover {
                transform: scale(1.015);
                @include trans-a;
            }
        }
        @include laptopS {
            position: absolute;
            left: 0px;
            width: 15 * $lCol;
            height: inherit;
            transform: translateX(- 2 * $lCol);
        }
        @include laptopL {
            position: relative;
            width: 14 * $dCol;
            transform: translateX(0);
        }
    }
    .slider-content-type-a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px $mCol 80px $mCol;

        @include tablet {
            padding: 24px $tCol 64px $tCol;
        }
        @include laptopS {
            padding: 0;
            width: 9 * $lCol;
            justify-content: normal;
            margin-left: 15 * $lCol;
            // padding-top: 130px;
            background: $orange-light;
            z-index: 1;
            // transition-delay: 1s;
            opacity: 0;
            transform: translateY(20px);
        }
        @include laptopL {
            // padding-top: 90px;
            width: 9 * $dCol;
            margin-left: 2 * $dCol;
        }
        .card-type-b-chapeau {
            @include titre-card;
            @include text-shave(3);
            margin-top: 8px;
            margin-bottom: 8px;
        }
        .card-type-b-resume{
            @include text-shave(3);
            @include hando-l;
            font-size: 14px;
            line-height: 26.6px;
            @include tracking(25);
            color: $blue-1;
            margin-top: 8px;
            margin-bottom: 8px;
        } 
        .cta-c {
            position: absolute;
            bottom: 24px;
        }
    .slider-title-type-a {
       @include titre-card;
       margin: 0;
       @include laptopS {
           font-size: 28px;
           line-height: 40px;
           margin: 0px;
       }
    }
    .slider-description-type-a {
        display: none;
        @include laptopS {
            display: block;
            @include text-shave(3);
            @include hando-l;
            font-size: 14px;
            line-height: 26.6px;
            @include tracking(25);
            color: $blue-1;
            margin: 16px 0 48px;
        }
        @include laptopL {
            @include text-shave(4);
        }
    }
    .slider-cta-type-a {
        @include cta-c;
        width: fit-content;
        position: absolute;
        bottom: 24px;

        @include laptopS {
            position: relative;
            @include cta-a;
            bottom: unset;
            opacity: 0;
            &:after,&:before {
                display: none;
            }
            &:hover {
                
                &:after,&:before {
                    display: none;
                }
            }
        }
    }
    }
}
.swiper-slide-type-a.swiper-slide-active {

    .slider-content-type-a {

       @include laptopS {
        transform: translateY(0);
        opacity: 1;
        @include trans(0.6s,out-cubic);
       }

       .slider-cta-type-a {
        @include cta-c;
        width: fit-content;
        position: absolute;
        bottom: 24px;

        @include laptopS {
            position: relative;
            @include cta-a;
            bottom: unset;
            opacity: 1;
            &:after,&:before {
                display: none;
            }
            &:hover {
                
                &:after,&:before {
                    display: none;
                }
            }
        }
    }
    }
}

// SLIDE TYPE B
.swiper-slide-type-b {
height: auto;
> a {
    height: 100%;
}
}
// SLIDE TYPE C
.swiper-slide-type-c {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include max-heights-media;

    > img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

// ========= 
// =========  PAGINATIONS =========
// =========

// PAGINATION BULLETS TYPE A
.swiper-pagination-bullets  {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    @include tablet {
        padding: 40px 0px;
    }
    @include laptopS {
        display: none;
    }
    .swiper-pagination-bullet {
        background: $blue-1;
        opacity: 1;
        width: 10px;
        height: 10px;
        &:not(:last-child){
            margin-right: 5px;
        }
    }
    .swiper-pagination-bullet-active {
        background: $orange-1;
    }
}
.swiper-pagination-type-a {
    @include laptopS {
        display: none;
    }
}
// PAGINATION FRACTION TYPE A
.swiper-pagination-numbers-type-a  {
display: none;
@include laptopS {
    display: block;
    position: absolute;
    @include hando;
    font-size: 14px;
    @include tracking(100);
    color: $blue-3;
    bottom: -84px;
    left: 330px;
    width: fit-content;
    .swiper-pagination-current {
        @include hando-b;
        color: $blue-1;
    }
}
@include laptopL {
    left: 460px;
}
}

// PAGINATION FRACTION TYPE B
.swiper-pagination-numbers-type-b {
    display: block;
    position: absolute;
    @include hando;
    font-size: 14px;
    @include tracking(100);
    color: $blue-3;
    width: fit-content;
    left: 50%;
    bottom: $space-between-flex-items-t * 2;
    transform: translateX(-50%) translateY($space-between-flex-items-t / 2);
    @include laptopS {
        bottom: $space-between-flex-items-l * 2;
        transform: translateX(-50%) translateY($space-between-flex-items-l / 2);
    }
    @include laptopL {
        bottom: $space-between-flex-items-d  * 2;
        transform: translateX(-50%) translateY($space-between-flex-items-d / 2);
    }
    .swiper-pagination-current {
        @include hando-b;
        color: $blue-1;
    }

}

// ========= 
// =========  BUTTONS =========
// ========= 

//  BUTTONS TYPE A
.swiper-buttons-type-a {
    display: none;
    @include laptopS {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 110px;
        // background: aquamarine;
        margin-left: calc(11 * #{$lCol} - 30px);
        bottom: -100px;
    }
    @include laptopL {
        margin-left: calc(11 * #{$dCol} - 20px);
    }
    .swiper-button-prev-type-a {
        @include slider-cta-type-a;
        &:before {
            transform: translate(-50%,-50%) rotate(90deg);
        }
    }
    .swiper-button-next-type-a {
        @include slider-cta-type-a;
        &:before {
            transform: translate(-50%,-50%) rotate(-90deg);
        }
    }
}
//  BUTTONS TYPE B
.swiper-buttons-type-b {
    display: none;
    @include laptopS {
        display: flex;
        justify-content: space-between;
        width: 110px;
        position: absolute;
        bottom: calc(-50px - 50px);
        right: 0;
    }

    .swiper-button-prev-type-a {
        @include slider-cta-type-a;
        &:before {
            transform: translate(-50%,-50%) rotate(90deg);
        }
    }
    .swiper-button-next-type-a {
        @include slider-cta-type-a;
        &:before {
            transform: translate(-50%,-50%) rotate(-90deg);
        }
    }
}
//  BUTTONS TYPE C
.swiper-buttons-type-c {
    width: 180px;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    bottom: $space-between-flex-items-t * 2;
    transform: translateX(-50%) translateY($space-between-flex-items-t );
    @include laptopS {
        bottom: $space-between-flex-items-l * 2;
        transform: translateX(-50%) translateY($space-between-flex-items-l );
    }
    @include laptopL {
        bottom: $space-between-flex-items-d * 2;
        transform: translateX(-50%) translateY($space-between-flex-items-d );
    }
    .swiper-button-prev-c,
    .swiper-button-next-c {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        left: unset;
        right: unset;
        border: 2px solid $orange-1;
        &:before {
            position: absolute;
            content: "";
            display: block;
            top: calc(50%);
            width: 10px;
            height: 10px;
            background: url("../ASSETS/IMAGES/common/VECTOR/simple-arrow-orange.svg") center no-repeat;
            background-size: contain;
            left: calc(50%);
            @include trans-a;
        }
    }
    .swiper-button-prev-c {
        &:before {
            transform: translate(-50%,-50%) rotate(90deg);
        }
    }
    .swiper-button-next-c {
        &:before {
            transform: translate(-50%,-50%) rotate(-90deg);
        }
    }
    
}

