@mixin mobile-closing-sub-menu {

}

@mixin mobile-opening-sub-menu {
    @include arrow-button-active;
    a {
        color: $blue-3;
    }
    ul {
        @include open-dropdown-container;
    
        li {
            @include open-dropdownItem;
        }
    }
}

@mixin span-menu {
    display: block;
    height: 2px;
    background: $blue-1;
    border-radius: 8px;
    position: absolute;
}

@mixin list-nav {
    position: relative;
    padding: 24px 0px;

    a {
        @include header-nav-links;

        &:after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            top: 0px;
            background: $blue-3;
        }
    }
    @include tablet {
        &:first-child {
           a {
            &:after {
                display: none;
                }
           } 
        }
    }
    &:active {
        a {
            color: $orange-1;
        }
    }
}

@mixin list-item-children-arrow-cta {
    position: relative;
    @include arrow-button;
    a {
        max-width: 85%;  
    }
    @include tablet {
        > a {
            margin-bottom: 16px;
        }
        a {
            color: $blue-3;
            text-transform: uppercase;
            font-size: 11px;
            line-height: 24px;    
            max-width: unset;      
        }
    }

    &:before {
        right: 11px;
        top: 28px;
        // top: 50%;
        // transform: translateY(-50%);

        @include tablet {
            display: none;
        }
    }

    &:after {
        right: 0;
        top: 16px;
        // top: 50%;
        // transform: translateY(-50%);

        @include tablet {
            display: none;
        }
    }

    &:active {
        a {
            color: $orange-1;

            @include tablet {
                color: $blue-3;
            }
        }

    }
}

@mixin sub-list-item {
    position: relative;

    @include tablet {
        padding: 10px 0px;
    }

    a {
        @include header-nav-links;
        padding-left: 24px;

        &:after {
            display: none;
        }
    }

    &:before {
        position: absolute;
        display: block;
        content: "";
        width: 8px;
        height: 2px;
        top: 23px;
        background: $blue-3;

        @include tablet {
            top: 22px;
        }
    }

    &:after {
        display: none;
    }
    &.current-menu-item {
        a {
            color: $orange-1;
            text-decoration: none !important;
        }
    }
}

@mixin pseudo-el-tablet {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    height: 100%;
    width: 2px;
    background: $blue-light;
    transform: translateY(-50%);
}

$header-m : 80px;

header {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: relative;
    z-index: 3;

    .header-wrapper {
        background: $white;
        position: relative;
        z-index: 11;

        @include laptopS {
            display: flex;
            justify-content: space-between;
        }

        .header-first-section {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            z-index: 3;

            &:before {
                position: absolute;
                display: block;
                content: "";
                top: 0;
                bottom: 0;
                width: 100vw;
                left: 50%;
                transform: translateX(-50%);
                background: $white;
                z-index: -1;
            }

            #Febecoop-logo {
                >img {
                    width: 120px;

                    @include laptopS {
                        width: 170px;
                    }
                    @include laptopL {
                        width: 190px;
                    }
                }
            }

            @include laptopS {
                width: unset;
                margin: unset;
                padding: 0px 24px;
            }
            @include laptopL {
                padding: 0px 48px;
            }

            .header-first-section-right-section {
                display: flex;

                @include tablet {
                    align-items: center;
                }

                .socials-header-tablet {
                    display: none;

                    @include tablet {
                        display: flex;
                        margin: 0px 24px;

                        a {
                            margin: 0;
                        }
                    }

                    @include laptopS {
                        display: none;
                    }
                }

                .nav-search-tablet-placeholder {
                    display: none;
                    @include tablet {
                        padding: 4px 24px;
                        position: relative;
                        display: block;
                        cursor: pointer;
                        &:after {
                            @include pseudo-el-tablet;
                            right: 0;
                        }

                        &:before {
                            @include pseudo-el-tablet;
                            left: 0;
                        }
                    }
                    @include laptopS {
                        display: none;
                    }
                }

                .main-navigation-menu-button {
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    background: transparent;

                    @include tablet {
                        margin: 0px 24px 0px 72px;
                    }

                    @include laptopS {
                        display: none;
                    }

                    span {
                        &:nth-child(1) {
                            @include span-menu;
                            width: 14px;
                            top: 0;
                        }

                        &:nth-child(2) {
                            @include span-menu;
                            width: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:nth-child(3) {
                            @include span-menu;
                            width: 8px;
                            bottom: 0;
                        }
                    }

                    &::before {
                        content: "MENU";
                        position: absolute;
                        display: block;
                        right: 32px;
                        top: calc(50% + 1px);
                        transform: translateY(-50%) scaleY(1);
                        transition: all 0.3s ease-out;
                        opacity: 1;
                        font-size: 13px;
                        line-height: 18px;
                        color: $blue-1;
                        @include hando-sb;
                    }
                    &::after {
                        content: "FERMER";
                        display: block;
                        position: absolute;
                        right: 32px;
                        bottom: calc(50% - 8px);
                        transform: translateY(100%) scaleY(0.3);
                        transition: all 0.1s ease-out;
                        opacity: 0;
                        font-size: 13px;
                        line-height: 18px;
                        color: $blue-1;
                        @include hando-sb;
                    }
                }

                .main-navigation-menu-button-active {

                    span {
                        &:nth-child(1) {
                            animation: ease .7s span-1 forwards;
                        }

                        &:nth-child(2) {
                            animation: ease .3s span-2 forwards;
                        }

                        &:nth-child(3) {
                            animation: ease .7s span-3 forwards;
                        }
                    }

                    &::before {
                        transform: translateY(-100%) scaleY(0.3);
                        opacity: 0;
                        transition: all 0.1s ease-out;
                    }
                    &::after {
                        bottom: 50%;
                        top: 0;
                        transform: translateY(50%) scaleY(1);
                        opacity: 1;
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }

        .header-second-section-mobile {
            display: block;
            position: fixed;
            height: calc(100vh - 88px);
            // max-height: calc(100vh - 88px);
            width: 100%;
            overflow-y: scroll;
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none;
            background: $blue-1;
            padding: 64px 0px;
            padding-bottom: 120px;
            opacity: 0;
            pointer-events: none;
            transform-origin: top center;
            transform: scaleY(0);
            transition: all 0.4s  ease(out-cubic);

            &::-webkit-scrollbar { width: 0 !important }

            .header-second-section-mobile-wrapper {
                opacity: 0;
                transition: all 0.1s ease(out-cubic);
            }

            @include tablet {
                padding-top: 88px;
                padding-bottom: 88px;
            }

            @include laptopS {
                display: none;
            }

            .header-second-section-mobile-wrapper {
                opacity: 0;
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                }

                .search-bar-header-mobile {}

                .menu-header-main-menu-container {
                    .menu {
                        @include tablet {
                            width: 7 * $tCol;
                        }

                        .menu-item {
                            @include list-nav;
                        }
                        .current_page_item {
                            a {
                                color: $orange-1;
                                // text-decoration: underline !important;
                            }
                        }

                        .menu-item-has-children {
                            position: relative;
                            @include list-item-children-arrow-cta;

                            .sub-menu {
                                @include close-dropdown-container;
                                li {
                                    @include close-dropdownItem;
                                    @include sub-list-item;

                                }
                                > li {
                                    padding: 16px 0px;
                                }
                                

                                @include tablet {
                                    display: block;
                                    height: auto;
                                    transform: scaleY(1);
                                    li {
                                        transform: scaleY(1);
                                        opacity: 1;
                                    }
                                }
                            }

                            &:hover,
                            &:focus {

                                @include tablet {

                                    &:after,
                                    &:before {
                                        display: none;
                                    }
                                }

                            }
                            &.link-children-mobile-opened {
                                @include mobile-opening-sub-menu;

                                @include tablet {
                                    .sub-menu {
                                        margin-top: 0 !important;
                                    }
                                }
                            }
                        }


                    }
                }

                .top-nav-section {
                    .menu-header-top-menu-container {
                        #menu-header-top-menu {
                            @include tablet {
                                width: 7 * $tCol;
                            }

                            .menu-item {
                                @include list-nav;
                            }
                            .current_page_item {
                                a {
                                    color: $orange-1;
                                    text-decoration: none !important;
                                }
                            }

                            .menu-item-has-children {
                                position: relative;
                                @include list-item-children-arrow-cta;

                                .sub-menu {
                                    @include close-dropdown-container;
    
                                    li {
                                        @include close-dropdownItem;
                                        @include sub-list-item;
    
                                    }
                                    > li {
                                        padding: 16px 0px;
                                    }

                                    @include tablet {
                                        display: block;
                                        height: auto;
                                        transform: scaleY(1);
                                        li {
                                            transform: scaleY(1);
                                            opacity: 1;
        
                                        }
                                    }
                                }

                                &:hover,
                                &:focus {
                                    // @include arrow-button-active;

                                    @include tablet {

                                        &:after,
                                        &:before {
                                            display: none;
                                        }
                                    }

                                    // a {
                                    //     color: $blue-3;
                                    // }

                                }
                                &.link-children-mobile-opened {
                                    @include mobile-opening-sub-menu;
                                    @include tablet {
                                        .sub-menu {
                                            margin-top: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-second-section-mobile-active {
            position: absolute;
            opacity: 1;
            pointer-events: unset;
            transition: all 0.3s ease(out-cubic);
            transform: scaleY(1);

            @include tablet {
                transition: all 0.6s ease(out-cubic);
            }

            .header-second-section-mobile-wrapper {
                opacity: 1;
                transition: all 0.1s ease-out;
                transition-delay: 0.2s;
                @include tablet {
                    transition: all 0.2s ease-out;
                    transition-delay: 0.4s;
                }
            }
        }

        .header-second-section {
            display: none;

            @include laptopS {
                display: block;
            }
        }
    }

}

.header-second-section-mobile-federal {
    padding-bottom: 0px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}



@keyframes span-1 {
    0% {
        top: 10px;
        width: 100%;
        transform: rotate(0deg);
      }
      50% {
        width: 100%;
        top: 10px;
        transform: rotate(0deg);
      }
      100% {
        width: 100%;
        top: 10px;
        transform: rotate(45deg);
      }
}

@keyframes span-2 {
    0% {
        opacity: 0;
        transform: translateY(-50%);
      }

      100% {
        opacity: 0;
        transform: translateY(-50%);
      }
}

@keyframes span-3 {
    0% {
        bottom: unset;
        top: 10px;
        width: 100%;
        transform: rotate(0deg);
      }
      50% {
        width: 100%;
        bottom: unset;
        top: 10px;
        transform: rotate(0deg);
      }
      100% {
        width: 100%;
        bottom: unset;
        top: 10px;
        transform: rotate(-45deg);
      }
}