.hero-section-type-h {
    background: $orange-light;
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;

    @include tablet {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    @include laptopS {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include laptopL {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .hero-section-type-h-wrapper {
        @include laptopL {
            width: 21 * $dCol;
        }

        .hero-section-type-h-content {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .hero-section-type-h-content-text {
                .hero-section-type-h-content-toptitle {
                    @include top-titre-header;
                }
                h1 {
                    @include titre-header;
                }
            }
        }
        #hero-section-type-h-content-centered {
            .hero-section-type-h-content-text {
                // margin: auto;
            }
        }
    }
}

.hero-section-type-h-formation {
    padding-bottom: 64px;
    @include tablet {
    padding-bottom: 72px + $hste-img-h-t;
        }
        @include laptopS {
            padding-bottom: 80px + $hste-img-h-t;
        }
        @include laptopL {
            padding-bottom: 120px + $hste-img-h-t;
        }
}

.hero-section-type-h-pic-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 336px;
    margin: auto;
    overflow: hidden;
    background-color: $white;
    border-radius: 0px 0px 0px 0px;
    @include shadow-b-nopic;
    @include tablet {
        width: 17 * $tCol;
        height: 390px;
        transform: translateY(-$hste-img-h-t);
        border-radius:$border-radius-big-picture;
    }
    @include laptopS{
        width: 23 * $lCol;
        height: 466px;
        transform: translateY(-$hste-img-h-l);
    }
    @include laptopL{
        width: 21 * $dCol;
        height: 600px;
        transform: translateY(-$hste-img-h-d);
    }
    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}