.share-section-a {
    position: relative;
    margin: 40px 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
        position: absolute;
        width: 100%;
        height: 2px;
        content: "";
        background: $blue-light;
        top: 0;
    }
    @include tablet {
        margin: 64px 0;
    }
    @include laptopS {
        margin: 40px auto;
        width: $largeur-flex-main-l;
    }
    @include laptopL {
       width: $largeur-flex-main-d;
    }
    .share-title-a {
        @include hando-b;
        color: $blue-1;
        font-size: 13px;
        line-height: 24px;
        @include tracking(100);
        margin-bottom: 24px;
        text-transform: uppercase;

        @include tablet {
            margin-bottom: 32px;
        }
    }
    .share-socials-container-a {
        display: flex;

        a {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}

.share-section-a-centered {
    &:before {
        position: absolute;
        width: 100%;
        height: 2px;
        content: "";
        background: $blue-light;
        top: 0;
        @include laptopS {
            width: 14 * $lCol;
        }
        @include laptopL {
            width: 12 * $dCol;
        }
    }
}