.cli-modal  {
    .cli-modal-dialog {
        .cli-modal-content{
            padding: 2rem 3rem;
            .cli-modal-close{
                right: 8px !important;
                top: 8px !important; 
                padding: 8px !important; 
            }
            .cli-modal-body {
                padding-right: 8px;
                .cli-tab-container {
                    .cli-row {
                        padding-right: 16px;
                        .cli-align-items-stretch {
                            .cli-privacy-overview {
                                > h4 {

                                }
                                .cli-privacy-content {

                                }
                                .cli-privacy-readmore {

                                }
                            }
                        }
                        .cli-tab-section-container {
                            .cli-tab-section {
                                .cli-tab-header {
                                    .cli-nav-link {

                                    }
                                    .cli-necessary-caption {
                                        
                                    }
                                }
                                .cli-tab-content {
                                    .cli-tab-pane {
                                        .wt-cli-cookie-description {
                                            .wt-cli-element {
                                                thead {
                                                    tr {
                                                        th {
                                                           background-color: $blue-1; 
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cli-modal-footer {
                .wt-cli-element {
                    .cli-row {
                        .cli-align-items-stretch {
                            .cli-tab-footer {
                                .wt-cli-privacy-btn {
                                    display: block !important;
                                    @include hando-b;
                                    font-size: 12px !important;
                                    @include tracking(150);
                                    line-height: 21px !important;
                                    color: $white;
                                    background: $orange-1;
                                    border-radius: 8px !important;
                                    padding: 16px 32px !important;
                                    width: 100% !important;
                                    text-align: center !important;
                                    text-transform: uppercase !important;
                                    height: fit-content !important;
                                    margin: auto !important;
                                    margin-top: 20px;
                                    @include trans-a;
                                    @include tablet {
                                        display: inline-block !important;
                                        width: min-content !important;
                                        margin: 5px auto 5px auto !important; 
                                    }
                                    &:hover {
                                        background: $red-1 !important;
                                        @include trans-a;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    * {
        color: $blue-1;
    }
}