.main-projet-accompagne-content {
    // padding-top: 64px;
    padding-bottom: 80px;
    @include tablet {
        margin-top: calc(-80px * 2);
        padding-bottom: 80px;
    }
    @include laptopS {
        padding-bottom: 80px;
    }
    @include laptopL {
        margin-top: calc(-104px * 2);
        padding-bottom: 80px;
    }
    .section-projet-accompagne-content {
        margin: auto;
        @include laptopS {
            width: 19 * $lCol;
        }
        @include laptopL {
            width: 15 * $dCol;
        }
    }
}

